/3_Image_Processing/36_Anomaly_Detection/Tests
/3_Image_Processing/36_Anomaly_Detection/working
/3_Image_Processing/36_Anomaly_Detection/Models/NN_Feature_Extractors/Torch/Resnet18_L2_L3
/3_Image_Processing/36_Anomaly_Detection_bkp
